<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Gazebo 빈 월드 실행 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- 로봇 설명 파라미터 설정 -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro '$(find gazebo_example)/urdf/sample_robot.xacro'"
  />

  <!-- 로봇의 초기 위치 파라미터 -->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.5" />

  <!-- Gazebo에서 로봇 모델 스폰 -->
  <node 
    name="robot_spawn"
    pkg="gazebo_ros"
    type="spawn_model"
    output="screen"
    args="-urdf -param robot_description -model sample_robot -x $(arg x) -y $(arg y) -z $(arg z)"
  />
</launch>
